<h3>Recent Blog Posts </h3>
<ul>
    {% for post in site.posts limit: 5 %}
        {% if post.layout == 'post' %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
    <a href="/posts"><small class="indented">More posts...</small></a>
</ul>

<h3>Resources</h3>
<p class="indented">
	<a href="/resources/How to Start a Team.pdf">How to start an Alberta FRC team</a><br />
	<a href="http://www.chiefdelphi.com/forums/showthread.php?t=68051">Sponsorship 101</a><br />
	<a href="http://www.usfirst.org/roboticsprograms/frc/mentoring">FIRST Mentoring</a><br />
	<small class="indented"><a href="/resources">More resources...</a></small><br />
</p>

<h3>Local teams</h3>
<p class="indented">
	<a href="https://www.facebook.com/Intimitrons">Team 4604 - Intimitrons from Area 51</a><br />
	<a href="https://www.facebook.com/4719FRC">Team 4719 - Technetronic Bulldogs</a><br />
	<a href="https://www.facebook.com/FRC4627">Team 4627 - Iron Manning</a><br />
	<a href="https://www.facebook.com/Team4334">Team 4334 - Alberta Tech Alliance</a><br />
	<a href="https://www.facebook.com/team5064">Team 5064 - Opcom Robotics</a><br />
	<small class="indented"><a href="https://www.facebook.com/FRCWest">Tell us about your team!</a></small>
</p>

<div class="fb-like-box" data-href="https://www.facebook.com/FRCWest" data-width="100%" data-height="400" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
