<h3>Recent Blog Posts </h3>
<ul>
    {% for post in site.posts limit: 5 %}
        {% if post.layout == 'post' %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<h3>Resources</h3>
<p class="indented">
	<a href="/resources/How to Start a Team.pdf">How to start an Alberta FRC team</a><br />
</p>

<h3>Local teams</h3>
<p class="indented">
	<a href="https://www.facebook.com/4719FRC">Team 4719 - Technetronic Bulldogs</a><br />
	<a href="https://www.facebook.com/FRC4627">Team 4627 - Iron Manning</a><br />
	<a href="https://www.facebook.com/Team4334">Team 4334 - Alberta Tech Alliance</a><br />
	<small class="indented"><a href="https://www.facebook.com/FRCWest">Tell us about your team!</a></small>
</p>
